# Environment files
.env
.env.local
docker/.env
docker/.env-local

# PostgreSQL data
postgres/data/

# Airflow logs
airflow/logs/

# dbt artifacts
target/
dbt_packages/
logs/

# Python
__pycache__/
*.pyc

# IDE
.vscode/
.idea/
